; wifi credentials can be configured via captive portal
; all other values are defaults
; This file should only be needed for edge cases

[my]
build_flags = 
  '-DWIFI_SSID="xx"'
  '-DWIFI_PASSWORD="xx"'
  '-DWS_PORT=81'
  '-DHTTP_PORT=80'
  '-DIR_PIN=23'
	'-DDISABLE_BROWNOUT_DETECTION_DURING_WIFI_STARTUP=1' # 1=yes, 0=no