; wifi credentials can be configured via captive portal
; all other values are defaults
; This file should only be needed for edge cases

[my]
build_flags = 
  '-DWIFI_SSID="xx"'
  '-DWIFI_PASSWORD="xx"'
  '-DWS_PORT=2339'
  '-DHTTP_PORT=80'
  '-DIR_PIN=23'